.skills__title {
    font-size: 1.5rem;
    font-family: var(--martian);
    color: var(--lilac-darker-saturated);
}


@media screen and (min-width:0) {
    .skills__title {

        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .skills__title {
        padding-top: 5vh;
    }
}

@media screen and (min-width:1024px) {
    .skills__title {
        padding: 5vh 5vh 0 12vh;
        text-align: left;
    }
}