.about__text {
    line-height: 1.5rem;
    text-align: justify;
    color: var(--violet-dark);
    font-size: 1.1rem;
    padding-bottom: 4rem;
}

@media screen and (min-width:0px) {
    .about__text {
        padding: 0 10vh 10vh 10vh;
    }
}

@media screen and (min-width:768px) {
    .about__text {
        padding: 0 15vh 10vh 15vh;

    }
}

@media screen and (min-width:1024px) {
    .about__text {
        padding: 0vh 40vh 10vh 40vh;
    }
}